<<<<<<< HEAD
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:20px 170px;
}
.nav-menu li:hover{
    display:flex;
    flex-direction: column;
    gap:5px;
    cursor:pointer;
    transform: scale(1.05);
    
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none; /* This removes bullet points */
    gap: 60px;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .nav-connect{
    padding: 20px 40px;
    border-radius:50px;
    background:linear-gradient(267deg,#DA7c25 0.36%,#B923E1 102.61%);
    font-size: 22 px;
    cursor:pointer;
    transition: 0.5s;
  }
  .nav-connect:hover{
        transform: scale(1.05);
    
  }
  .anchor-link {
    text-decoration: none;
    color: #ffffff;
  }
  .anchor-link p {
    color: #ffffff;
    font-weight: bold;
  }
  .nav-mob-close{
    display: none;
  }
  .nav-mob-open{
    display: none;
  }
  @media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right:30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top:30px;
        left:130px;
        width:30px;
        padding-bottom: 30px;
        
    
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top:0;
        gap:30px;
        background-color: #1F0016;
        width:350px;
        height: 100%;
        z-index: 2;
        transition:right 0.5s;
        right:-350px;
    }
    .nav-menu li{
        font-size: 25px;
        padding-left: 80px;
        
        flex-direction: row;
        gap:20px;
    }
=======
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:20px 170px;
}
.nav-menu li:hover{
    display:flex;
    flex-direction: column;
    gap:5px;
    cursor:pointer;
    transform: scale(1.05);
    
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none; /* This removes bullet points */
    gap: 60px;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .nav-connect{
    padding: 20px 40px;
    border-radius:50px;
    background:linear-gradient(267deg,#DA7c25 0.36%,#B923E1 102.61%);
    font-size: 22 px;
    cursor:pointer;
    transition: 0.5s;
  }
  .nav-connect:hover{
        transform: scale(1.05);
    
  }
  .anchor-link {
    text-decoration: none;
    color: #ffffff;
  }
  .anchor-link p {
    color: #ffffff;
    font-weight: bold;
  }
  .nav-mob-close{
    display: none;
  }
  .nav-mob-open{
    display: none;
  }
  @media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right:30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top:30px;
        left:130px;
        width:30px;
        padding-bottom: 30px;
        
    
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top:0;
        gap:30px;
        background-color: #1F0016;
        width:350px;
        height: 100%;
        z-index: 2;
        transition:right 0.5s;
        right:-350px;
    }
    .nav-menu li{
        font-size: 25px;
        padding-left: 80px;
        
        flex-direction: row;
        gap:20px;
    }
>>>>>>> fd4fc0243ba44a8f1697e5926a4b405ca6c510fb
  }